@use "./variables" as *;

footer .btn {
    color: white;
    border-color: $color_Primary;
    border-radius: 0;
    font-weight: bold;
    padding: 10px 20px;
}

footer .icon-list {
    list-style: none;
    margin: 0;
}

footer h4 {
    margin: 0;
    color: $color_Primary;
}

footer h5 {
    color: white;
    padding-top: 0.9rem;
    padding-bottom: 0.6rem;
    margin: 0;
}

footer .nav-link {
    padding: 0;
    font-size: 0.85rem;
    color: #959595;
}

footer .footer_interactables {
    background-color: #303030;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer .footer_Links {
    background-image: url("../../../public/images/footer-bg.jpg");
}

footer .col-1 {
    width: 12%;
    padding-top: 1.5rem;
    padding-bottom: 3.5rem;
}

footer .links_container {
    background-image: url("../../../public/images/dc-logo-bg.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
}