@use "./variables" as *;

  .comicsContainer {
    background-color: $color_Dark;
    padding: 3rem 0rem;
  }

  .jumbotron {
    min-height: 370px;
    background-image: url("../../../public/images/jumbotron.jpg");
    background-position-y: 5%;
  }

.cardContainer img {
    width: 100%;
    height: 255px;
}

.comicName {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 0.75rem;
}

.cardContainer {
    margin-bottom: 0.8rem;
}